@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}





body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(72,0,255);
    background: linear-gradient(128deg, rgba(72,0,255,1) 2%, rgba(135,7,70,1) 86%);;
}

.todo {
    width: 80%;
    max-width: 450px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    min-height: 250px;
    margin-top: 15vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.todo h2 {
    margin-left: 20px;
    margin-top: 20px;
}

.barre {
    border-radius: 50px;
    background-color: rgb(219, 219, 219);
    height: 60px;
    display: flex;
    justify-content: space-between;
}

#barreInput {
    width: 70%;
    padding-left: 30px;
    font-size: 1.1em;
    outline: none;
}

#barreInput, #btnAdd {
    border: none;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50px;
}

#btnAdd {
    color: white;
    background-color: orangered;
    width: 30%;
}

#btnAdd:hover {
    cursor: pointer;
    background-color: rgba(255, 69, 0, 0.8);
}

ul li {
    list-style: none;
    padding: 20px 10px;
    font-size: 17px;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: url("images/unchecked.png");
    background-size: cover;
    top: 17px;
    left: -30px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before {
    background: url("images/checked.png");
    background-size: cover;
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 30px;
    color: #555;    
    text-align: center;
    border-radius: 25px;
}

ul li span:hover {
    background: #edeef0;
}